{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('forms_style/login.css') }}"/>
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="login-form">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="text-center">Log in</h1>
            <div class="form-group">
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-primary btn-block" type="submit">
                    Sign in
                </button>
                <div class="clearfix">
                    <label class="pull-left checkbox-inline">
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                    <a href="{{ path('reset') }}" class="pull-right">Forgot password ?</a><br>
                </div>
        </form>
    </div>
    <p class="text-center"><a href="{{ path('registration') }}" >Create new account</a></p>
{% endblock %}
