{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('forms_style/edit_user.css') }}">
{% endblock %}
{% block body %}
<div class="user-edit-table">
    <div class="user-img">
        <img src="{{ asset("users_images/" ~ user.image) }}" alt="Here should be your new image" >
    </div>
        <div class="user-edit-form">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.image) }}

            {% if not is_granted('ROLE_MODERATOR') or app.user.roleId.id <= user.roleId.id %}
                {{ form_widget(form.isActive, {attr: {style: "display:none"}}) }}
                {{  form_widget(form.role_id, {attr: {style: "display:none"}}) }}
            {% endif %}

            {{ form_row(form.isActive) }}
            {{ form_row(form.role_id) }}

            {% if app.user is same as(user)  %}
                <a href="{{ path('reset') }}"> Reset Password </a>
            {% endif %}
            {{ form_end(form) }}
        </div>
</div>
{% endblock %}