<table>
    <tr>
        <td>
            <img src="{{ asset("users_images/" ~ user.image) }}" alt="Here can be your photo :(">
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        ID: {{ user.id }}
                    </td>
                </tr>
                <tr>
                    <td>
                        First Name: {{ user.firstName }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name:  {{ user.lastName }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Email: {{ user.email }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Role: {{ user.roles[0] }}
                    </td>
                </tr>

                {% if is_granted('ROLE_MODERATOR') or app.user is same as(user) %}
                    <td>
                        <a href="{{ path('user_edit', {id: user.id}) }}">Edit</a>
                    </td>
                {% endif %}

                {% if not app.user is same as(user) and user.roles[0] is same as("ROLE_BLOGER") and not isSubscribedToUser %}
                    <td>
                        <a href="{{ path('subscribing', { id: user.id }) }}"> Follow {{ user.firstName }}</a>
                    </td>
                {% elseif  not app.user is same as(user) and user.roles[0] is same as("ROLE_BLOGER") and isSubscribedToUser%}
                    <td>
                        <a href="{{ path('unfollow', { id: user.id }) }}"> Unfollow {{ user.firstName }}</a>
                    </td>
                {% endif %}
            </table>
        </td>
    </tr>
</table>