<table>
    <tr>
        <td>
            {{ user.firstName }}
        </td>
        <td>
            {{ user.lastName }}
        </td>
        <td>
            {{ user.email }}
        </td>
        <td>
            {{ user.uniqueHash }}
        </td>
        <td>
            {{ user.isActive }}
        </td>
    </tr>
</table>